.mdlite-main-content {
    max-width: 1000px;
    margin: 0 auto;
}
.mdlite-post-title h2 {
    margin: 0;
    a {
        text-decoration: none;
    }
}
.mdlite-post-meta {
    padding-top: 0;
    padding-bottom: 0;
}
.mdlite-header-nav{
    .is-active {
        
    }
}
.mdlite-blog-nav {
    @extend .mdl-navigation;
    a {
        text-decoration: none;
    }
}
.mdlite-nav-spacer {
    @extend .mdl-layout-spacer;
}
.mdlite-default,
.mdlite-blog-item,
.mdlite-blog-list-item {
    img {
        max-width: 100%;
        height: auto;
    }
}
// Responsive Videos
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.no-padding {
    padding: 0px;
    &-top {
        padding-top: 0px;
    }
    &-bottom {
        padding-bottom: 0px;
    }
    &-right {
        padding-right: 0px;
    }
    &-left {
        padding-left: 0px;
    }

}
