// Use color primarily for emphasis. Choose colors that fit with
// your brand and provide good contrast between visual components.
$color-primary: $palette-light-blue-500;
$color-primary-dark: $palette-light-blue-700;
$color-accent: $palette-deep-orange-A200;
