{% embed 'partials/base.html.twig' %}
    {% use 'partials/blog_modules.html.twig' %}
    {% set collection = page.collection() %}
    {% block content %}
        <div class="mdlite-blog-list mdl-grid">
            {% if config.plugins.breadcrumbs.enabled %}
                {% include 'partials/breadcrumbs.html.twig' %}
            {% endif %}
            {{ block('blog_list_posts') }}
            {% if config.plugins.pagination.enabled and collection.params.pagination %}
                {% include 'partials/pagination.html.twig' with {'base_url': page.url, 'pagination': collection.params.pagination} %}
            {% endif %}
        </div>
    {% endblock %}
{% endembed %}
