{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="mdlite-default mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        {{ page.content }}
    </div>
</div>
{% endblock %}
